[pull]
    rebase = false
[push]
    default = current
[init]
    defaultBranch = master
[rerere]
    enabled = true
    autoupdate = true
[color]
    ui = true
[help]
    autocorrect = 1
[core]
    editor = code
[diff]
    renames = true
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[log]
    abbrevCommit = true
[user]
	email = k03.mad@gmail.com
	name = k03mad
